/*
-----------------------------------------------
FluidGrids CSS - Layout
----------------------------------------------- */

body {
	padding: 0;
}


/* anchors
----------------------------------------------- */
a {
	font-weight:bold;
	text-decoration: none;
}


/* paragraphs
----------------------------------------------- */
p {line-height: 18px;}


/* page
----------------------------------------------- */
.page {
	min-width:760px;
	max-width:1200px;
	margin:0 auto;
}


/* header
----------------------------------------------- */
#header {
	min-width:760px;
	max-width:1200px;
	margin:0 auto;
}
#branding h1 {
	font-size:5em;
	margin-bottom:0;
}
#branding h1 a {
	padding:1em 18px .3em;
}
#branding .content {
	border:none;
	padding-top:0;
}
#show_grid {
	font-size:1.5em;
}
#header .col1of5 .content {
	padding-top:28px;
	text-align:right;
	padding-right:36px;
}
#footer {
	margin-bottom:0;
	padding:18px;
}

/* fix header to top of page
-----------------------------------------------
#header {
	position:fixed; 
	z-index:2000;
	width:100%;
}
.page {
	padding-top:90px;
}
*/