/*
-----------------------------------------------
FluidGrids CSS - Text
----------------------------------------------- */


/* basic
----------------------------------------------- */
body {font: 12px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;}
a:focus {outline: 1px dotted invert;}


/* headings
----------------------------------------------- */
h1 {font-size: 60px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 12px;}


/* lists
----------------------------------------------- */
ol {list-style: decimal;}
ul {list-style: square;}
li {margin-left: 30px;}


/* spacing
----------------------------------------------- */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset
{
	margin-bottom: 18px;
}
